/*CUERPO PAGINA*/
/* Estilos generales del cuerpo de la página */
body {
    font-family: 'Fjalla One', sans-serif; /* Fuente principal del cuerpo de la página */
    background-color: #C08261; /* Color de fondo del cuerpo de la página */
    margin: 0; /* Elimina los márgenes por defecto del cuerpo */
    min-width: fit-content; /* Establece la anchura mínima basada en el contenido */
}

/*MENU*/
/* Estilos para los enlaces */
a {
    text-decoration: none; /* Elimina la decoración de subrayado de los enlaces */
    color: #000000; /* Color del texto de los enlaces */
}

/* Estilos para el encabezado */
header {
    display: flex; /* Usa un modelo de caja flexible para el encabezado */
    height: 74px; /* Altura del encabezado */
    background-color: #f5f5f569; /* Color de fondo del encabezado */
    justify-content: space-between; /* Distribuye el espacio entre los elementos hijos */
    align-items: center; /* Alinea los elementos hijos verticalmente al centro */
    padding: 10px; /* Añade relleno alrededor del contenido del encabezado */
}

/* Estilos para el logotipo */
.logo {
    display: flex; /* Usa un modelo de caja flexible para el logotipo */
    align-items: center; /* Alinea los elementos hijos verticalmente al centro */
}

/* Estilos para la imagen del logotipo */
.logo img {
    height: 70px; /* Altura de la imagen del logotipo */
    margin-right: 10px; /* Margen derecho de la imagen del logotipo */
}

/* Estilos para los enlaces de navegación */
nav a {
    font-weight: 600; /* Peso de la fuente de los enlaces de navegación */
    padding-right: 10px; /* Añade espacio a la derecha de los enlaces de navegación */
}

/* Estilos al pasar el ratón sobre los enlaces */
nav a:hover {
    color: rgb(194, 86, 86); /* Cambia el color del texto al pasar el ratón sobre los enlaces */
}

/* Fondo */
/* Estilos para el fondo de la página */
#back{
    position: fixed; /* Fija la posición del fondo en la ventana del navegador */
    background-image: url("../img/frutaFondo4k.jpeg"); /* URL de la imagen de fondo */
    background-repeat: no-repeat; /* No se repite la imagen de fondo */
    background-size: cover; /* La imagen de fondo se ajusta para cubrir el contenedor completamente */
    width:100%; /* Ancho completo del fondo */
    height: 100%; /* Altura completa del fondo */
    top: -10px; /* Posicionamiento superior del fondo */
    z-index: -1; /* El fondo se coloca detrás de otros elementos */
    margin-bottom: 400px; /* Margen inferior del fondo */
}

/*Eventos*/
/* Estilos para los títulos de los eventos */
h1{
    padding: 10px; /* Añade relleno alrededor del título */
    color: whitesmoke; /* Color del texto del título */
    text-align: center; /* Alineación del texto al centro */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    margin-bottom: 2%; /* Margen inferior del título */
    background-color:#C08261; /* Color de fondo del título */
    margin-left: 35%; /* Margen izquierdo del título */
    margin-right: 35%; /* Margen derecho del título */
    border-radius: 4px; /* Bordes redondeados del título */
    font-family: 'Impact'; /* Fuente del título */
    font-weight: normal; /* Peso normal de la fuente del título */
}

/* Estilos para el contenedor de eventos */
.fondo {
    display: flex; /* Usa un modelo de caja flexible para el contenedor de eventos */
}

/* Estilos para el primer div de eventos */
.div1 {
    display: grid; /* Usa un modelo de caja de rejilla para el primer div de eventos */
    max-height: 79%; /* Altura máxima del primer div de eventos */
    margin-left: 10%; /* Margen izquierdo del primer div de eventos */
    margin-right: 10%; /* Margen derecho del primer div de eventos */
    grid-template-columns: repeat(5, 1fr); /* Crea una rejilla con 5 columnas de tamaño igual */
    gap: 10px; /* Espacio entre las cajas de eventos */
    margin-bottom: 5%; /* Margen inferior del primer div de eventos */
}

/* Estilos para las cajas de eventos */
.evento {
    background-color: #E2C799; /* Color de fondo de las cajas de eventos */
    padding: 1rem; /* Añade relleno alrededor del contenido de las cajas de eventos */
    text-align: center; /* Alineación del texto al centro dentro de las cajas de eventos */
    border-radius: 12px; /* Bordes redondeados de las cajas de eventos */
    min-width: fit-content; /* Ancho mínimo basado en el contenido de las cajas de eventos */
    
}

/* Estilos para los subtítulos de los eventos */
h3{
    height: 50px; /* Altura de los subtítulos de los eventos */
}

/* Estilos para las imágenes de los eventos */
.imgEventos{
    width: 300px; /* Ancho de las imágenes de los eventos */
    height: 200px; /* Altura de las imágenes de los eventos */
}


#footer {
    position: fixed; /* El pie de página se fija en la parte inferior de la ventana del navegador */
    bottom: 0; /* El pie de página se coloca en la parte inferior */
    width: 100%; /* Ancho completo del pie de página */
    height: 40px; /* Altura del pie de página */
    background: #F2ECBE; /* Color de fondo del pie de página */
    display: flex; /* Usa un modelo de caja flexible para el pie de página */
    align-items: center; /* Alinea los elementos hijos verticalmente al centro */
}

#footer > p{
    margin-left: 0.50%; /* Margen izquierdo del párrafo dentro del pie de página */
}

/* Estilos para la imagen del carrito */
.imgCarrito{
    width: 30px; /* Ancho de la imagen del carrito */
	height: 30px; /* Altura de la imagen del carrito */
	object-fit: cover; /* Ajusta la imagen del carrito dentro de su contenedor */
    border-color: #fff; /* Color del borde de la imagen del carrito */
}

/* Estilos para los botones */
button{
    border: none; /* Elimina el borde de los botones */
}

/* Estilos para el botón de inicio de sesión */
#botonLogin{
    display: flex; /* Usa un modelo de caja flexible para el botón de inicio de sesión */
    justify-content: center; /* Centra horizontalmente el contenido del botón de inicio de sesión */
    line-height: 1; /* Altura de línea del botón de inicio de sesión */
    border-radius: 10px; /* Bordes redondeados del botón de inicio de sesión */
    font-weight: bold; /* Peso de la fuente en negrita para el texto del botón de inicio de sesión */
    border: 1px solid #000000; /* Borde sólido del botón de inicio de sesión */
    background: linear-gradient(to left, rgb(100, 231, 236), #ffffff); /* Degradado lineal como fondo del botón de inicio de sesión */
}
