/* https://colorhunt.co/palette/9a3b3bc08261e2c799f2ecbe */
/*CUERPO PAGINA*/

body {
    font-family: 'Fjalla One', sans-serif; /* Se establece la fuente para el texto del cuerpo */
    background-color: #C08261; /* Se establece el color de fondo del cuerpo */
    margin: 0; /* Se elimina el margen predeterminado del cuerpo */
    min-width: fit-content; /* Se establece el ancho mínimo del cuerpo para ajustarse al contenido */
}

/*MENU*/
a {
    text-decoration: none; /* Se quita la decoración de subrayado de los enlaces */
    color: #000000; /* Se establece el color del texto de los enlaces */
}

header {
    display: flex; /* Se establece la visualización como flexbox para el elemento header */
    height: 74px; /* Se establece la altura del encabezado */
    background-color: #f5f5f569; /* Se establece el color de fondo del encabezado */
    justify-content: space-between; /* Se distribuye el espacio disponible entre los elementos hijos */
    align-items: center; /* Se alinean los elementos hijos verticalmente */
    padding: 10px; /* Se añade relleno interior al encabezado */
}

.logo {
    display: flex; /* Se establece la visualización como flexbox para el contenedor del logotipo */
    align-items: center; /* Se alinean los elementos verticalmente */
}

.logo img {
    height: 70px; /* Se establece la altura de la imagen del logotipo */
    margin-right: 10px; /* Se añade margen derecho a la imagen del logotipo */
}

nav a {
    font-weight: 600; /* Se establece el grosor de la fuente para los enlaces del menú */
    padding-right: 10px; /* Se añade relleno derecho a los enlaces del menú */
}


nav a:hover {
    color: rgb(194, 86, 86); /* Se cambia el color del texto de los enlaces al pasar el cursor sobre ellos */
}


/* Fondo */


#back{
    position: fixed; /* Se fija la posición del fondo */
    background-image: url("../img/frutaFondo4k.jpeg"); /* Se establece la imagen de fondo */
    background-repeat: no-repeat; /* Se evita la repetición de la imagen de fondo */
    background-size: cover; /* Se ajusta el tamaño de la imagen de fondo para cubrir el área */
    width:100%; /* Se establece el ancho al 100% */
    height: 100%; /* Se establece la altura al 100% */
    top: -10px; /* Se establece la posición superior a -10px */
    z-index: -1; /* Se establece el índice z para que esté detrás de otros elementos */
    margin-bottom: 400px; /* Se añade margen inferior de 400px */
}


/* Presentación */
article{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Se establece la fuente del texto del artículo */
    font-size: 100%; /* Se establece el tamaño de fuente al 100% */
    margin-left: 14%; /* Se añade margen izquierdo al artículo */
    padding-right: 10px; /* Se añade relleno derecho al artículo */
}


/*titulo*/

h1{
    padding: 10px; /* Se añade relleno alrededor del título */
    color: whitesmoke; /* Se establece el color del texto del título */
    text-align: center; /* Se centra el texto del título */
    text-transform: uppercase; /* Se transforma el texto del título a mayúsculas */
    margin-bottom: 2%; /* Se añade margen inferior al título */
    background-color:#C08261; /* Se establece el color de fondo del título */
    margin-left: 35%; /* Se añade margen izquierdo al título */
    margin-right: 35%; /* Se añade margen derecho al título */
    border-radius: 4px; /* Se añade un radio de borde al título */
    font-family: 'Impact'; /* Se establece la fuente del título */
    font-weight: normal; /* Se establece el grosor normal de la fuente del título */
    margin-top: -3%; /* Se ajusta el margen superior del título */
}


.div1 {
    display: grid; /* Se establece la visualización como grid para el contenedor div1 */
    grid-template-columns: repeat(4, 1fr); /* Se establece la distribución de columnas en el grid */
    gap: 2rem; /* Se añade espacio entre las filas y columnas del grid */
    margin-bottom: 5%; /* Se añade margen inferior al contenedor div1 */
    width: 80%; /* Se establece el ancho del contenedor div1 al 80% */
    margin-left: 12%; /* Se añade margen izquierdo al contenedor div1 */
}


.frutas {
    background-color: #E2C799; /* Se establece el color de fondo del contenedor de frutas */
    padding: 3%; /* Se añade relleno alrededor del contenedor de frutas */
    text-align: center; /* Se centra el texto dentro del contenedor de frutas */
    border-radius: 20px; /* Se añade un radio de borde al contenedor de frutas */
    margin-bottom: 15%; /* Se añade margen inferior al contenedor de frutas */
    max-width: 70%; /* Se establece el ancho máximo del contenedor de frutas */
    min-width: fit-content; /* Se ajusta el ancho mínimo del contenedor de frutas para adaptarse al contenido */
}

.titulo{
    height: 40px; /* Se establece la altura del título */
}

.imagen{
    width: 200px; /* Se establece el ancho de la imagen */
    height: 270px; /* Se establece la altura de la imagen */
}


/*FOOTER*/
#footer {
    position: fixed; /* Se establece la posición fija para el pie de página */
    bottom: 0; /* Se fija el pie de página en la parte inferior de la ventana */
    width: 100%; /* Se establece el ancho del pie de página al 100% del contenedor */
    height: 40px; /* Se establece la altura del pie de página */
    background: #f3cdd2; /* Se establece el color de fondo del pie de página */
    display: flex; /* Se establece la visualización como flexbox para los elementos del pie de página */
    align-items: center; /* Se alinean verticalmente los elementos del pie de página */
}


#footer > p{
    margin-left: 0.50%; /* Se añade margen izquierdo al párrafo dentro del pie de página */
}


hr{
    width: 50%; /* Se establece el ancho de la línea horizontal */
    margin-left: 2px; /* Se añade margen izquierdo a la línea horizontal */
}


/* Sección hero */

.hero {
    text-align: center; /* Se centra el texto dentro de la sección hero */
    padding: 50px 20px; /* Se añade relleno interno a la sección hero */
    background-color: #ffefd5; /* Se establece el color de fondo de la sección hero */
}


.hero h2 {
    font-size: 2.5rem; /* Se establece el tamaño de fuente para los títulos dentro de la sección hero */
    margin-bottom: 20px; /* Se añade margen inferior a los títulos dentro de la sección hero */
    color: #333; /* Se establece el color de texto para los títulos dentro de la sección hero */
}


.hero p {
    font-size: 1.1rem; /* Se establece el tamaño de fuente para los párrafos dentro de la sección hero */
    margin-bottom: 30px; /* Se añade margen inferior a los párrafos dentro de la sección hero */
    color: #666; /* Se establece el color de texto para los párrafos dentro de la sección hero */
}


.cta {
    display: inline-block; /* Se establece la visualización como inline-block para los elementos cta */
    padding: 12px 30px; /* Se añade relleno interno a los elementos cta */
    background-color: #FFA500; /* Se establece el color de fondo para los elementos cta */
    color: #fff; /* Se establece el color de texto para los elementos cta */
    text-decoration: none; /* Se elimina la decoración de texto para los elementos cta */
    border-radius: 5px; /* Se añade un radio de borde a los elementos cta */
    transition: background-color 0.3s ease; /* Se aplica una transición suave al color de fondo de los elementos cta */
}


.cta:hover {
    background-color: #FF8C00; /* Se cambia el color de fondo al pasar el cursor sobre los elementos cta */
}

/* 
/* Sección highlights */

.highlights {
    display: flex; /* Se establece la visualización como flexbox para los elementos de la sección de destacados */
    justify-content: space-around; /* Se distribuyen los elementos de manera equitativa alrededor del contenedor */
    margin-top: 50px; /* Se añade margen superior a la sección de destacados */
    position: absolute; /* Se establece la posición absoluta para la sección de destacados */
    top: 18%; /* Se fija la posición superior de la sección de destacados */
    left: 27%; /* Se fija la posición izquierda de la sección de destacados */
}


.highlight {
    text-align: center; /* Se centra el texto dentro de cada destacado */
    margin-left: -10%; /* Se ajusta el margen izquierdo negativamente para corregir la posición */
    margin-top: 10%; /* Se añade margen superior a cada destacado */
    margin-right: 20%; /* Se añade margen derecho a cada destacado */
    padding-left: -10%; /* Se ajusta el relleno izquierdo negativamente para corregir la posición */
}


.highlight img {
	width: 400px; /* Se establece el ancho de las imágenes dentro de los destacados */
	height: 400px; /* Se establece la altura de las imágenes dentro de los destacados */
	object-fit: cover; /* Se ajusta la imagen dentro de su contenedor para cubrirlo completamente */
}



.image-container {
    position: relative; /* Se establece la posición relativa para los contenedores de imagen */
    overflow: hidden; /* Se oculta cualquier contenido que se desborde del contenedor */
    border-radius: 8px; /* Se añade un radio de borde a los contenedores de imagen */
}

.image-text {
    position: absolute; /* Se establece la posición absoluta para los textos sobre las imágenes */
    bottom: 0; /* Se fija la posición del texto en la parte inferior del contenedor */
    left: 0; /* Se fija la posición del texto en la parte izquierda del contenedor */
    width: 100%; /* Se establece el ancho del texto al 100% del contenedor */
    background-color: rgba(0, 0, 0, 0.5); /* Se establece el color de fondo del texto con transparencia */
    color: #fff; /* Se establece el color de texto del texto */
    padding: 10px; /* Se añade relleno interno al texto */
    text-align: left; /* Se alinea el texto a la izquierda */
    box-sizing: border-box; /* Se incluyen los bordes y el relleno en el tamaño total del elemento */
    transition: opacity 0.3s ease; /* Se aplica una transición suave a la opacidad del texto */
    opacity: 0; /* Se establece la opacidad inicial del texto como 0 */
}


.image-container:hover .image-text {
    opacity: 1; /* Se cambia la opacidad del texto al pasar el cursor sobre el contenedor de imagen */
}





/* CSS */
.boton-saber-mas {
    font-family: "Open Sans", sans-serif; /* Se establece la fuente para el botón */
    font-size: 16px; /* Se establece el tamaño de fuente para el botón */
    letter-spacing: 2px; /* Se establece el espaciado entre letras para el botón */
    text-decoration: none; /* Se quita la decoración de texto del botón */
    text-transform: uppercase; /* Se convierte el texto del botón a mayúsculas */
    color: #000; /* Se establece el color de texto del botón */
    cursor: pointer; /* Se cambia el cursor al pasar sobre el botón */
    border: 3px solid; /* Se añade un borde sólido al botón */
    padding: 0.25em 0.5em; /* Se establece el relleno interno del botón */
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px; /* Se añade una sombra al botón para dar un efecto de relieve */
    position: relative; /* Se establece la posición relativa para el botón */
    user-select: none; /* Se deshabilita la selección de texto en el botón */
    -webkit-user-select: none; /* Se deshabilita la selección de texto en el botón para navegadores WebKit */
    touch-action: manipulation; /* Se especifica cómo deben manejar los eventos táctiles */
  }
  

.boton-saber-mas:active {
    box-shadow: 0px 0px 0px 0px; /* Se elimina la sombra al hacer clic en el botón */
    top: 5px; /* Se desplaza el botón hacia abajo cuando se hace clic */
    left: 5px; /* Se desplaza el botón hacia la derecha cuando se hace clic */
  }
  

  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em; /* Se ajusta el relleno interno del botón para tamaños de pantalla más grandes */
    }
  }

  .fraseFilosofo{
    margin-left: 45%; /* Se establece el margen izquierdo del elemento con respecto a su contenedor */
}

form {
    background-color: #ffffffe3; /* Se establece el color de fondo del formulario */
    padding: 200px; /* Se añade relleno interno al formulario */
    text-align: center; /* Se centra el contenido del formulario */
    margin-top: 50px; /* Se añade margen superior al formulario */
    border-radius: 8px; /* Se añade un radio de borde al formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Se añade una sombra alrededor del formulario */
    width: 500px; /* Se establece el ancho del formulario */
    margin-left: 480px; /* Se ajusta el margen izquierdo del formulario */
}

/* Estilos para elementos con la clase DatosBancarios */
.DatosBancarios{
    text-align: center; /* Alinea el texto en el centro */
    /* No hay más estilos definidos para esta clase */
}

/* Estilos para elementos con la clase miVideo */
.miVideo{
    text-align: center; /* Alinea el texto en el centro */
    margin: 0; /* Establece el margen en 0 píxeles */
    display: flex; /* Establece el uso de flexbox */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    height: 100vh; /* Establece la altura del elemento al 100% del viewport */
}

/* Estilos para elementos con la clase invisible */
.invisible {
    display: none; /* Oculta los elementos con esta clase */
}