/* Estilos generales del cuerpo */

body {
  font-family: Arial, sans-serif; /* Fuente y su alternativa */
  background-image: url("../img/frutaFondo4k.jpeg"); /* Imagen de fondo */
  background-repeat: no-repeat; /* No repetir */
    background-size: cover; /* Tamaño de la imagen */
  margin: 0; /* Elimina el margen predeterminado */
  display: flex; /* Usa un modelo de caja flexible */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  min-height: 100vh; /* Altura mínima de la ventana de visualización */
}

/* Estilos del contenedor del formulario */
.form-container {
  background-color: #ffffff; /* Color de fondo */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 20px; /* Relleno interno */
  width: 100%; /* Ancho completo */
  max-width: 400px; /* Ancho máximo */
  text-align: center; /* Alineación del texto */
  margin: 0 auto; /* Margen automático a los lados */
}

/* Estilos del título del formulario */
.form-container h2 {
  margin-bottom: 20px; /* Margen inferior */
  color: #333333; /* Color del texto */
}

/* Estilos del grupo de formulario */
.form-group {
  margin-bottom: 20px; /* Margen inferior */
  margin-right: 20px; /* Margen derecho */
}

/* Estilos de la etiqueta del formulario */
.form-label {
  display: block; /* Muestra como bloque */
  margin-bottom: 6px; /* Margen inferior */
  font-weight: bold; /* Peso de la fuente */
  color: #555555; /* Color del texto */
}

/* Estilos de la entrada del formulario */
.form-input {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Relleno interno */
  border: 1px solid #dddddd; /* Borde sólido */
  border-radius: 4px; /* Borde redondeado */
}

/* Estilos del botón del formulario */
.form-button {
  background-color: #007bff; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Borde redondeado */
  padding: 10px 20px; /* Relleno interno */
  cursor: pointer; /* Cursor */
}

/* Estilos de hover para el botón del formulario */
.form-button:hover {
  background-color: #0056b3; /* Color de fondo al hacer hover */
}

/* Estilo para los inputs de texto y select */
input[type=text], select {
  width: 100%; /* Ancho completo */
  padding: 12px 20px; /* Relleno interno */
  margin: 8px 0; /* Margen externo */
  display: inline-block; /* Muestra como bloque en línea */
  border: 1px solid #ccc; /* Borde sólido */
  border-radius: 4px; /* Borde redondeado */
  box-sizing: border-box; /* La caja incluye el borde y el relleno */
}

/* Estilo para el botón de mostrar contraseña */
.show-password-label,
.show-repeat-password-label {
  color: #555555; /* Color del texto */
  font-size: 14px; /* Tamaño de fuente */
  margin-left: 5px; /* Margen izquierdo */
}

/* Estilo para la casilla de verificación de mostrar contraseña */
.toggle-password,
.toggle-repeat-password {
  margin-left: 10px; /* Margen izquierdo */
  vertical-align: middle; /* Alineación vertical */
}

/* Estilos para el botón de submit */
input[type=submit] {
  width: 100%; /* Ancho completo */
  background-color: #04AA6D; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 14px 20px; /* Relleno interno */
  margin: 8px 0; /* Margen externo */
  border: none; /* Sin borde */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cursor */
}

/* Estilos de hover para el botón de submit */
input[type=submit]:hover {
  background-color: #45a049; /* Color de fondo al hacer hover */
}

/* Estilos específicos para navegadores */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Apariencia */
  margin: 0; /* Margen */
}

/* Firefox */
input[type=number] {
  appearance: textfield; /* Apariencia */
}
