/* https://colorhunt.co/palette/9a3b3bc08261e2c799f2ecbe */
/*CUERPO PAGINA*/

body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #C08261;
    margin: 0;
    min-width: fit-content;
}

/*MENU*/
a {
    text-decoration: none;
    color: #000000;
}

header {
    display: flex;
    height: 74px;
    background-color: #f5f5f569;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: rgb(194, 86, 86);
}

nav{
    z-index: 1;
}

/* Fondo */
#back {
    position: fixed;
    background-image: url("../img/frutaFondo4k.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: -10px;
    z-index: -1;
    margin-bottom: 400px;
}

/* Presentación */
article {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    margin-left: 14%;
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 14px;
    padding: 1%;
    margin-right: 15%;
    margin-bottom: 5%;
}

/*titulo*/
h1 {
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2%;
    background-color: #C08261;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 4px;
    font-family: 'Impact';
    font-weight: normal;
    margin-top: -3%;
}

.titulo {
    height: 40px;
}

/*FOOTER*/
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #F2ECBE;
    display: flex;
    align-items: center;
}

#footer>p {
    margin-left: 0.50%;
}

hr {
    width: 68%;
    margin-left: 13%;
    background-color: #000000;
}


/*
        IMAGENES INICIO
*/
#imgInicio,
#imgInicio2,
#imgInicio3 {
    margin-top: 50px;
    z-index: 2;
}

#imgInicio:hover,
#imgInicio2:hover,
#imgInicio3:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* STYLES PARA RECOMENDADOS */

.recomendados {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.76);
    padding: 5%;
    margin-top: 10px;
    max-width: 300px !important;
}

.recomendados img {
    width: 150px;
    height: 105px;
    object-fit: cover;
}

.Titulo3 {
    margin-top: 50px;
    margin-left: 13%;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.div1 {
    margin-bottom: 5%;
    margin-left: 15% !important;
    margin-right: 15% !important;
}

/*BOTON*/
.original-button4 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #000000;
    transition: 0.3s;
    box-shadow: 0px 6px 0px -2px rgb(230, 5, 181);
    background: linear-gradient(to left, #ff7300, #fac800);
    cursor: pointer
}

.original-button4:hover {
    box-shadow: 0 0 #e2c0c0;
    transform: translateY(1px);
    cursor: pointer
}

.contenedor {
    overflow: hidden;
}

.reloj {
    float: left;
    /* Hace que la imagen flote a la izquierda*/
}
