/* General */
/* Establece la fuente principal del documento y el color de fondo del cuerpo. También ajusta los márgenes y la anchura mínima del cuerpo. */
body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #C08261;
    margin: 0;
    min-width: fit-content;
    margin-bottom: 5% !important; /* Se establece un margen inferior del 5% con prioridad importante. */
}

/* Header */
/* Estilos para el encabezado. */
header {
    display: flex;
    height: 74px;
    justify-content: space-between; /* Los elementos hijos del encabezado se distribuyen uniformemente a lo largo del eje principal. */
    align-items: center; /* Los elementos hijos del encabezado se alinean verticalmente en el centro. */
    padding: 10px;
}

/* Estilos para los enlaces dentro de la barra de navegación */
nav a {
    font-weight: 600; /* Los enlaces de navegación tienen un peso de fuente más grueso. */
    padding-right: 10px; /* Se añade un espacio adicional a la derecha de los enlaces. */
}

/* Estilos para la barra de navegación */
nav {
    z-index: 1; /* La barra de navegación se coloca en una capa superior que otros elementos. */
}

/* Title */
/* Estilos para el título (h1) */
h1 {
    text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Sombra de texto para el título. */
    border: 2px solid #333; /* Borde sólido de 2px con color #333. */
    padding: 10px; /* Espaciado interno del título. */
    background-color: #C08261; /* Color de fondo del título. */
    max-width: fit-content; /* Establece el ancho máximo del título según su contenido. */
    margin-top: 2% !important; /* Margen superior del 2% con prioridad importante. */
}

/* Background */
/* Estilos para el fondo de la página */
#back {
    position: fixed; /* El fondo se fija en la ventana del navegador. */
    background-image: url("../img/frutaFondo4k.jpeg"); /* Imagen de fondo. */
    background-repeat: no-repeat; /* No se repite la imagen de fondo. */
    background-size: cover; /* La imagen de fondo se ajusta para cubrir el contenedor completamente. */
    width: 100%; /* Ancho completo del fondo. */
    height: 100%; /* Altura completa del fondo. */
    top: -10px; /* Posicionamiento superior del fondo. */
    z-index: -1; /* El fondo se coloca detrás de otros elementos. */
    margin-bottom: 400px; /* Margen inferior del fondo. */
}

/* Contact Form */
/* Estilos para el formulario de contacto */
#columns {
    display: flex;
    flex-direction: row; /* Los elementos hijos se colocan en filas. */
    flex-wrap: wrap; /* Los elementos hijos se envuelven en nuevas líneas si no hay suficiente espacio. */
    width: 100%; /* Ancho completo del contenedor. */
    margin-left: 5%; /* Margen izquierdo del contenedor del formulario. */
}

form label {
    font-weight: bold; /* Etiquetas del formulario en negrita. */
    text-align: start; /* Alineación del texto a la izquierda. */
    display: block; /* Las etiquetas del formulario se muestran como bloques. */
}

#comentario {
    margin-left: 5%; /* Margen izquierdo del campo de comentario. */
    width: 100%; /* Ancho completo del campo de comentario. */
    height: 90%; /* Altura del campo de comentario. */
    max-height: 125px; /* Altura máxima del campo de comentario. */
    resize: none; /* No se puede cambiar el tamaño del campo de comentario. */
}

/* Info Boxes */
/* Estilos para las cajas de información */
.info {
    background-color: aliceblue; /* Color de fondo de las cajas de información. */
    padding: 1rem; /* Relleno interno de las cajas de información. */
    text-align: center; /* Alineación del texto al centro dentro de las cajas de información. */
    border-radius: 12px; /* Bordes redondeados de las cajas de información. */
    min-width: fit-content; /* Ancho mínimo basado en el contenido dentro de las cajas de información. */
    margin-left: 3%; /* Margen izquierdo de las cajas de información. */
}

#contacto > ul {
    text-align: left; /* Alineación del texto a la izquierda dentro de las listas de contacto. */
    margin-top: 2%; /* Margen superior de las listas de contacto. */
}

#formulario {
    text-align: center; /* Alineación del texto al centro dentro del formulario. */
    padding: 5%; /* Relleno interno del formulario. */
    display: inline-block; /* El formulario se muestra como un bloque en línea. */
    margin-top: -4%; /* Margen superior negativo del formulario. */
}

/* FOOTER */

/* Estilos para el pie de página */
#footer {
    position: fixed; /* El pie de página se fija en la parte inferior de la ventana del navegador. */
    bottom: 0; /* El pie de página se coloca en la parte inferior. */
    width: 100%; /* Ancho completo del pie de página. */
    height: 40px; /* Altura del pie de página. */
    background: #F2ECBE; /* Color de fondo del pie de página. */
    display: flex; /* El pie de página se muestra como un contenedor flexible. */
    align-items: center; /* Los elementos del pie de página se alinean verticalmente en el centro. */
}

#footer > p {
    margin-left: 0.50%; /* Margen izquierdo del párrafo dentro del pie de página. */
}

#botonLogin {
    display: flex; /* El botón de inicio de sesión se muestra como un contenedor flexible. */
    justify-content: center; /* El contenido del botón se centra horizontalmente. */
    line-height: 1; /* Altura de línea del botón. */
    border-radius: 10px; /* Bordes redondeados del botón. */
    font-weight: bold; /* Peso de fuente en negrita para el texto del botón. */
    border: 1px solid #000000; /* Borde sólido del botón. */
    background: linear-gradient(to left, rgb(100, 231, 236), #ffffff); /* Degradado lineal como fondo del botón. */
}