/*
    Los siguientes estilos se aplican al cuerpo de la página, el menú, el fondo,
    la presentación, el pie de página, las imágenes de inicio, los estilos para
    recomendados, el botón, y el contenedor.
*/

/* Estilos generales del cuerpo de la página */
body {
    font-family: 'Fjalla One', sans-serif; /* Fuente */
    background-color: #C08261; /* Color de fondo */
    margin: 0; /* Elimina el margen predeterminado */
    min-width: fit-content; /* Ancho mínimo ajustado al contenido */
}

/* Estilos para los enlaces del menú */
a {
    text-decoration: none; /* Sin decoración de texto */
    color: #000000; /* Color del texto */
}

/* Estilos del encabezado */
header {
    display: flex; /* Usa un modelo de caja flexible */
    height: 74px; /* Altura */
    background-color: #f5f5f569; /* Color de fondo */
    justify-content: space-between; /* Distribución del espacio entre elementos */
    align-items: center; /* Alineación vertical */
    padding: 10px; /* Relleno interno */
}

/* Estilos para la navegación */
nav a {
    font-weight: 600; /* Grosor de la fuente */
    padding-right: 10px; /* Espaciado derecho */
}

nav {
    z-index: 1; /* Capa z */
}

/* Estilos para el fondo */
#back {
    position: fixed; /* Posición fija */
    background-image: url("../img/frutaFondo4k.jpeg"); /* Imagen de fondo */
    background-repeat: no-repeat; /* No repetir */
    background-size: cover; /* Tamaño de la imagen */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    top: -10px; /* Posicionamiento superior */
    z-index: -1; /* Capa z detrás de todo */
    margin-bottom: 400px; /* Margen inferior */
}

/* Estilos para la presentación */
article {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Fuente */
    font-size: 100%; /* Tamaño de fuente */
    margin-left: 14%; /* Margen izquierdo */
    background-color: rgba(255, 255, 255, 0.877); /* Color de fondo */
    border-radius: 14px; /* Borde redondeado */
    padding: 1%; /* Relleno interno */
    margin-right: 15%; /* Margen derecho */
    margin-bottom: 5%; /* Margen inferior */
}

/* Estilos para el título */
.titulo {
    height: 40px; /* Altura */
}

/* Estilos para el pie de página */
#footer {
    position: fixed; /* Posición fija */
    bottom: 0; /* Posicionamiento en la parte inferior */
    width: 100%; /* Ancho completo */
    height: 40px; /* Altura */
    background: #F2ECBE; /* Color de fondo */
    display: flex; /* Usa un modelo de caja flexible */
    align-items: center; /* Alineación vertical */
}

#footer>p {
    margin-left: 0.50%; /* Margen izquierdo */
}

hr {
    width: 68%; /* Ancho */
    margin-left: 13%; /* Margen izquierdo */
    background-color: #000000; /* Color de fondo */
}

/* Estilos para las imágenes de inicio */
#imgInicio,
#imgInicio2,
#imgInicio3 {
    margin-top: 50px; /* Margen superior */
    z-index: 2; /* Capa z */
}

#imgInicio:hover,
#imgInicio2:hover,
#imgInicio3:hover {
    -webkit-transform: scale(1.1); /* Escala */
    transform: scale(1.1); /* Escala */
    transition: transform 0.3s ease; /* Transición */
}

/* Estilos para la sección de recomendados */
.recomendados {
    text-align: center; /* Alineación del texto */
    background-color: rgba(255, 255, 255, 0.76); /* Color de fondo */
    padding: 5%; /* Relleno interno */
    margin-top: 10px; /* Margen superior */
    max-width: 300px !important; /* Ancho máximo */
}

.recomendados img {
    width: 150px; /* Ancho de la imagen */
    height: 105px; /* Altura de la imagen */
    object-fit: cover; /* Ajuste del objeto */
}

/* Estilos para el título de la sección de recomendados */
.Titulo3 {
    margin-top: 50px; /* Margen superior */
    margin-left: 13%; /* Margen izquierdo */
    font-size: 200%; /* Tamaño de fuente */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente */
    text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Sombra de texto */
}

/* Estilos para el contenedor */
.div1 {
    margin-bottom: 5%; /* Margen inferior */
    margin-left: 15% !important; /* Margen izquierdo importante */
    margin-right: 15% !important; /* Margen derecho importante */
}

/* Estilos para el botón original-button4 */
.original-button4 {
    display: flex; /* Usa un modelo de caja flexible */
    align-items: center; /* Alineación vertical */
    justify-content: center; /* Alineación horizontal */
    line-height: 1; /* Altura de línea */
    text-decoration: none; /* Sin decoración de texto */
    color: #000000; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente */
    border-radius: 20px; /* Borde redondeado */
    width: 200px; /* Ancho */
    height: 40px; /* Altura */
    font-weight: bold; /* Grosor de la fuente */
    border: 2px solid #000000; /* Borde sólido */
    transition: 0.3s; /* Transición */
    box-shadow: 0px 6px 0px -2px rgb(230, 5, 181); /* Sombra */
    background: linear-gradient(to left, #ff7300, #fac800); /* Degradado lineal */
    cursor: pointer; /* Cursor */
}

.original-button4:hover {
    box-shadow: 0 0 #e2c0c0; /* Sombra al hacer hover */
    transform: translateY(1px); /* Transformación */
    cursor: pointer; /* Cursor */
}

/* Estilos para el contenedor */
.contenedor {
    overflow: hidden; /* Desbordamiento oculto */
}

/* Estilos para la clase reloj */
.reloj {
    float: left; /* Flotar a la izquierda */
}
